extends layout

block content
  h1= title
  p Voor verdere info en vragen zijn we te contacteren via volgende middelen:

  h3 email:
  p eventorg@telenet.be

  h3 telefoon:
  p +32 2 256 03 06

  h3 waar:
  iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.2116039250104!2d4.580401815642717!3d51.14144887957659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3fc5d4800e747%3A0x3cc4425724f988b5!2sNazaretdreef%2099%2C%202500%20Lier!5e0!3m2!1snl!2sbe!4v1606659352153!5m2!1snl!2sbe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")